[run]
branch = True
source = ./ochrona

[report]
exclude_lines =
    if self.debug:
    except ImportError:
    except OSError as ex:
ignore_errors = True
omit =
    tests/*
    setup.py
    ochrona/__main__.py