language: python
python:
  - 3.6
  - 3.7
  - 3.8
install:
  - python --version
  - pip install -U pip
  - "export PYTHONPATH=$PYTHONPATH:$(pwd)"
  - "export OCHRONA_API_URL=http://localhost:5000/python/analyze"
  - "export OCHRONA_ALERT_API_URL=http://localhost:5000/alerts/project-alerts"
  - "export TMP_OCHRONA_API_KEY=$OCHRONA_API_KEY"
  - "unset OCHRONA_API_KEY"
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
script:
  - pytest --cov=./
  - bandit ./ochrona -r -n 3 -lll
  - black --check ./ochrona
  - mypy --show-error-codes ./ochrona
  - unset OCHRONA_API_URL
  - export OCHRONA_API_KEY=$TMP_OCHRONA_API_KEY
  - ochrona --file ./requirements.txt --debug
after_success:
  - codecov
