certifi==2020.11.8
chardet==3.0.4
click==7.1.2
idna==2.10
PyYAML==5.4.1
requests==2.25.0
toml==0.10.2
urllib3==1.26.5
python-dateutil==2.8.1
tarsafe==0.0.3
packaging==20.4
requests-cache==0.5.2
appdirs==1.4.4
rich==10.16.1
Pygments==2.11.1
commonmark==0.9.1
colorama==0.4.4
Jinja2==3.0.3
MarkupSafe==2.0.1